<header class="header">
  <div class="header__top">
    <div class="container">
      <!-- <div class="header__top-inner">
        <button class="menu-hamburger hamburger">
          <span class="hamburger__text">
            <span class="visually-hidden">Open menu</span>
          </span>
        </button>
        <nav class="header__menu menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a href="#" class="menu__link">Sponsors</a>
              <ul class="submenu__list">
                <li class="submenu__item">
                  <a href="#" class="submenu__link">General Sponsor</a>
                </li>
                <li class="submenu__item">
                  <a href="#" class="submenu__link">Platinum Sponsor</a>
                </li>
                <li class="submenu__item">
                  <a href="#" class="submenu__link">High-Tech Sponsor</a>
                </li>
                <li class="submenu__item">
                  <a href="#" class="submenu__link">Gold Sponsor</a>
                </li>
                <li class="submenu__item">
                  <a href="#" class="submenu__link">Silver Night Sponsor</a>
                </li>
              </ul>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Exhibitors</a>
              <ul class="submenu__list dn">
                <li class="submenu__item">
                  <a href="#" class="submenu__link">Wealth TOP FORUM Israel 2016</a>
                </li>
                <li class="submenu__item">
                  <a href="#" class="submenu__link">Another name of the conference</a>
                </li>
                <li class="submenu__item">
                  <a href="#" class="submenu__link">Another name of the conference 2016</a>
                </li>
              </ul>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Speakers</a>
              <ul class="submenu__list dn">
                <li class="submenu__item">
                  <a href="#" class="submenu__link">Wealth TOP FORUM Israel 2016</a>
                </li>
                <li class="submenu__item">
                  <a href="#" class="submenu__link">Another name of the conference</a>
                </li>
                <li class="submenu__item">
                  <a href="#" class="submenu__link">Another name of the conference 2016</a>
                </li>
              </ul>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Media</a>
            </li>
          </ul>
        </nav>
        <a href="#" class="header__top-link"> TOP FORUM CLUB </a>
      </div> -->
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <div class="header__bottom-inner">
        <a class="header__logo logo">
          <img src="img/logo.png" alt="Logo" />
        </a>
        <div class="header-info">
          <a href="#" class="header-info__link header-info__link--events">
            UPCOMING EVENTS
          </a>
          <a href="#" class="header-info__link header-info__link--contacts">
            CONTACTS
          </a>
        </div>
        <a href="#" class="header__registr btn">
          REGISTER NOW
        </a>
      </div>
    </div>
  </div>
</header>