<section class="banner">
	<h1 class="visually-hidden">Banner website</h1>
	<div class='container'>
		<!-- <div class="banner__wrapper swiper-container">
			<div class="banner__inner swiper-wrapper">
				<div class="banner__content swiper-slide">
					
						slide 1
					
				</div>
				<div class="banner__content swiper-slide">
					
						slide 2
					
				</div>
				<div class="banner__content swiper-slide">
					
						slide 3
					
				</div>
			</div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>

		</div> -->
	</div>
</section>